extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
          small &nbsp; #{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-6
      .error= message
      .row.list-group
        each meal in meals
          .col-xs-12.list-group-item
            h4
              a(href="/instructions")= meal.title
              span.badge.pull-right.badge-default #{meal.readyInMinutes} min
            p #{meal.servings} servings
            p #{meal.id} 

    .col-xs-12.col-sm-6
      form.form-horizontal(action="/meals", method="get", role="form")
        .form-group
          p
            label.col-xs-10.col-sm-2.control-label(for="diet") Diet
          .col-xs-12.col-sm-10
            input#diet.form-control(name="diet")
        .form-group
          p
            label.col-xs-10.col-sm-2.control-label(for="exclude") Exclude
          .col-xs-12.col-sm-10
            input#exclude.form-control(name="exclude")
        .form-group
          p
            label.col-xs-10.col-sm-2.control-label(for="calories") Calorie Target
          .col-xs-12.col-sm-10
            input#calories.form-control(name="calories")
        button.btn.btn-default.pull-right Get daily Meal Plan

  .row 
    .col-xs-12.col-sm-6
      .panel.panel-primary
        .panel-heading
          h2.panel-title Nutrients
        .panel-body

          p Calories: #{nutrients.calories}
          p Protein: #{nutrients.protein}
          p Fat: #{nutrients.fat}
          p Carbohydrates: #{nutrients.carbohydrates}

