extends layout
  
block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
          small &nbsp; #{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-6
      h2 Ingredients
      each ingredient in ingredients
        .media
          a.pull-left(href='#')
            img.media-object(src='...', alt='...')
          .media-body
            h3.media-heading #{ingredient}
    .col-xs-12.col-sm-6
      h2 Steps
      // The number for each step in `responseBody.recipe.steps`
      each step in steps
        h3 #{step.number}.
        
          // Instructions for each stepp
          p
            | #{step.step}
